* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  color: #fff;
  background: rgb(15,32,39);
  background: linear-gradient(145deg, rgba(15,32,39,1) 60%, rgba(44,83,100,1) 100%); 
  background-size: cover;
  height: 100%;
}
