.my-skill-review {
  font-family: 'Source Code Pro', sans-serif;
  width: 60%;
  margin: 80px auto;
}

.my-skill-review h1 {
  margin-bottom: 15px;
}

.my-skill-review p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-skill-review p a {
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.my-skill-review p a:hover {
  text-decoration: underline;
  color: #03e9f4;
}
