.aboutALL {
  margin-top: 45px;
  
  .aboutContainer {
    font-family: 'Source Code Pro', sans-serif;
    height: 100%;
    width: 90%;
    padding: 15px;
    gap: 15px;
    margin: 0 auto;
    display: flex;
    
    img {
      height: 320px;
      width: 320px;
      margin: 15px 20px 0 0;
      border-radius: 50%;
    }
  
    div {
      margin-top: 35px;

      h1 {
        margin-bottom: 45px;
      }

      p {
        display: flex;
        flex-direction: column;

        a {
          margin-top: 10px;
          text-decoration: none;
          color: #fff;
          font-weight: 200;

          &:hover {
            text-decoration: underline;
            color: #03e9f4;
          }
        }
      }
    }
  }
}
