.container-contact {
  font-family: 'Source Code Pro', sans-serif;
  width: 90%;
  margin: 0 auto;
}

.container-contact h1 {
  margin-bottom: 20px;
}

.container-contact .contact {
  height: 50px;
}

.container-contact .contact a {
  border-radius: 3px;
  position: relative;
  display: inline-block;
  padding: 6px 3px;
  margin: 14px 10px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 8px;
}

.container-contact .contact a:hover {
  background: #03e9f4;
  border: 1px solid #03e9f4;
  color: #050801;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.container-contact .contact a:nth-child(1) {
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
}

.container-contact .contact a:nth-child(2) {
  -webkit-filter: hue-rotate(110deg);
          filter: hue-rotate(110deg);
}

.container-contact .contact a span {
  position: absolute;
  display: block;
}

.container-contact .contact a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.container-contact .contact a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.container-contact .contact a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.50s;
          animation-delay: 0.50s;
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.container-contact .contact a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.container-contact .container-contact-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-contact .container-contact-forms .separator {
  font-size: 14px;
  color: #fff;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-contact .container-contact-forms .separator::before {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background: #fff;
  margin-right: 16px;
}

.container-contact .container-contact-forms .separator::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background: #fff;
  margin-left: 16px;
}

.container-contact .container-contact-forms .forms {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-contact .container-contact-forms .forms input {
  font-family: 'Source Code Pro', sans-serif;
  height: 2rem;
}

.container-contact .container-contact-forms .forms input, .container-contact .container-contact-forms .forms textarea {
  width: 23rem;
  border-radius: 5px;
  margin: 5px;
}

.container-contact .container-contact-forms .forms textarea {
  height: 155px;
}

.container-contact .container-contact-forms .forms button {
  margin-top: 10px;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  color: #fff;
  background: transparent;
}

.container-contact .container-contact-forms .forms button:hover {
  width: 100px;
  height: 30px;
  color: #000;
  background: #fff;
}
/*# sourceMappingURL=contacts.css.map */