.container-contact {
  font-family: 'Source Code Pro', sans-serif;
  width: 90%;
  margin: 0 auto;

  .container-contact-forms { 
    display: flex;
    flex-direction: column;
    align-items: center;

    .forms { 
     align-items: center;

      width: 80%;
      display: flex;
      flex-direction: column;
      input {
        height: 2rem;
      }
      input, textarea { 
        width: 23rem;
        border-radius: 5px;
        margin: 5px;
      }
    }
  }
}