.project-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  
   .Project {
      margin: 20px auto;
      width: 80%;

      > div {
        padding: 15px;
        display: flex;
        .img-projects {
          transition: 1s;
          opacity: 0%;
          width: 400px;
          height: 400px;
        }
      
      }
      > div:hover .img-projects{
        opacity: 100%;
        width: 400px;
        height: 400px;
      }
   }
}

