.container-myself {
	font-family: 'Source Code Pro', sans-serif;
  width: 60%;
  margin: 80px auto;

  img {
    display: block;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #03e9f4;
    }
  }

}
