header { 
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  display: flex;
  gap: 5px;
  align-self: center;
  color: #fff;
   
}

.container a { 
  background-color: transparent;
  border-radius: 5px;
  padding: 4px;
  text-decoration: none;
  color: #fff;
}

.container a:hover {
  background-color: #03A696;
  border: none;
  color: #FDFAEF;
}

.container a:active {
  background-color: #024059;
}