.skills {
  margin: 0.3125em 0 2.500em 0;
  .skills-hard {
    margin: 1em 0;

    .languages {
      gap: 10px;
      margin: 0.2em;
      font-size: 60px;
      &:hover {
        color: #03e9f4;
      }
    }
  }
}