footer {
  font-family: 'Source Code Pro', sans-serif;
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  background: #161616;
  color: white;
  margin: 0 auto;
  text-align: center;
  /* margin-top: 20px; */
}
