@media (max-width: 699px) {
  .aboutALL {
    margin: 0.3125em 0 2.500em 0;
  }
  .aboutALL .aboutContainer {
    font-family: 'Source Code Pro', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0.9em;
    gap: 0.9em;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutALL .aboutContainer img {
    height: 15em;
    width: 15em;
    margin: 0 auto;
    border-radius: 50%;
  }
  .aboutALL .aboutContainer section {
    margin-top: 3em;
  }
  .aboutALL .aboutContainer section h1 {
    margin-bottom: 1em;
  }
  .aboutALL .aboutContainer section p {
    margin: 1em 0 1em 0;
  }
  .aboutALL .aboutContainer section .aTrybe {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
  }
  .aboutALL .aboutContainer section .aTrybe:hover {
    text-decoration: underline;
    color: #03e9f4;
  }
}

@media (min-width: 700px) {
  .aboutALL {
    height: fit-content;
    margin-bottom: 13em;
  }
  .aboutContainer {
    font-family: 'Source Code Pro', sans-serif;
    /* height: 100%; */
    /* width: 100%; */
    padding: 2em;
    gap: 9em;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutALL .aboutContainer img {
    height: 15em;
    width: 15em;
    margin: 0.9em 1em 0 0;
    border-radius: 50%;
  }
  .aboutALL .aboutContainer {
    margin-top: 3em;
    height: 100%;
    width: 100%;
  }
  /* .aboutALL .aboutContainer section h1 {
    margin-bottom: 1em;
  }
  .aboutALL .aboutContainer section p {
    margin: 1em 0 1em 0;
  } */
  .aTrybe {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
  }
  .aTrybe:hover {
    text-decoration: underline;
    color: #03e9f4;
  }
}
